<section class="ftco-section vh-100">
    <div class="container">
      
        <div class="row justify-content-center vh-100">
            <div class="col-md-7 col-lg-5 mt-5">
                <div class="wrap">
                    
                    <div class="login-wrap  justify-content-center p-4 p-md-5 loginclas shadow-lg p-3 mb-5 rounded">
                        <div class="d-flex">
                            <div class="w-100 text-center">
                                <h2 class="mb-4 heading-section">Sign Up</h2>
                            </div>
                            
                        </div>
                        
                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row mb-4">
                              <div class="col">
                                <div class="form-outline">
                                  <input type="text" id="form3Example1" class="form-control" placeholder="First Name" />
                                <!--   <label class="form-label" for="form3Example1">First name</label> -->
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-outline">
                                  <input type="text" id="form3Example2" class="form-control" placeholder="Last Name" />
                                <!--   <label class="form-label" for="form3Example2">Last name</label> -->
                                </div>
                              </div>
                            </div>
                          
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input type="email" id="form3Example3" class="form-control" placeholder="Email Address"/>
                           <!--    <label class="form-label" for="form3Example3">Email address</label> -->
                            </div>
                          
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                              <input type="password" id="form3Example4" class="form-control" placeholder="Password" />
                             <!--  <label class="form-label" for="form3Example4">Password</label> -->
                            </div>
                          
                            <!-- Checkbox -->
                            <div class="form-check d-flex m-auto mb-4">
                              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                              <label class="form-check-label" for="form2Example33">
                                Subscribe to our newsletter
                              </label>
                            </div>
                          
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                          
                            <!-- Register buttons -->
                            <div class="text-center">
                              <p>or sign up with:</p>
                              <button type="button" class="btn btn-primary btn-floating mx-1">
                               
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                              </button>
                          
                              <button type="button" class="btn btn-primary btn-floating mx-1">
                                
                                <i class="fa fa-google" aria-hidden="true"></i>
                              </button>
                          
                              <button type="button" class="btn btn-primary btn-floating mx-1">
                               
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                              </button>
                          
                              <button type="button" class="btn btn-primary btn-floating mx-1">
                               
                                <i class="fa fa-github" aria-hidden="true"></i>
                              </button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<i class="fa fa-google" aria-hidden="true"></i>