<app-headers></app-headers>

<div class="m-5"></div>

<!---Change Element From below div Section-->

<div class="container-fluid">



<div class="container text-center">
  <h1>This is a header</h1>
  <button type="button" (click)="getdata('Hello')" id="" class="btn btn-primary">
    Button Click
  </button>

  <input class="m-5 form-control" placeholder="Key Press Event" (keypress)="getdata(txt1.value)" type="text" name=""
    #txt1 />

  <input class="m-5 form-control" placeholder="key Down" (keydown)="getdata(txt2.value)" type="text" name="" #txt2 />

  <input class="m-5 form-control" placeholder="KeyUp" (keyup)="getdata(txt3.value)" type="text" name="" #txt3 />

  <input class="m-5 form-control" placeholder="On Blur" (blur)="getdata(txt4.value)" type="text" name="" #txt4 />
  <input class="m-5 form-control" placeholder="On input" (input)="getdata(txt5.value)" type="text" name="" #txt5 />

  <h1 class="m-5" (mouseover)="getdata('This is a Mouse Over Event')" #txt6>This is a Mouse Over Event</h1>
  <h1 class="m-5" (mousedown)="getdata('This is a Mouse mousedown Event')" #txt7>This is a mousedown Event</h1>
  <h1 class="m-5" (mouseenter)="getdata('This is a Mouse mouseenter Event')" #txt8>This is a mouseenter Event</h1>
  <h1 class="m-5" (mouseleave)="getdata('This is a Mouse mouseleave Event')" #txt9>This is a mouseleave Event</h1>
  <h1 class="m-5" (mousemove)="getdata('This is a Mouse mousemove Event')" #txt10>This is a Mouse Move Event</h1>
  <h1 class="m-5" (mouseout)="getdata('This is a Mouse mouseout Event')" #txt11>This is a Mouse Out Event</h1>
  <h1 class="m-5" (mousewheel)="getdata('This is a Mouse mousewheel Event')" #txt12>This is a Mouse Wheel Event</h1>
  <h1 class="m-5" (mouseup)="getdata('This is a Mouse mouseup Event')" #txt13>This is a Mouse Up Event</h1>
</div>





<hr>
<div class="m-5"></div>
<div class="container m-auto text-center">
  <h1 class="m-5">This is For Input Section</h1>

  <form action="" method="post">
    <input class="m-5 form-control" (keyup)="getdata(box1.value)" type="text" name="text1"
      placeholder="This is a text Textfield" #box1>
    <br> <label class="m-5" for="nothing"> {{displayval}}</label>

  </form>


</div>


<section>
  <div class="container text-center ">
    <h1 m-5>This Section for Dynamic Content</h1>
    <button (click)="counter('minus')" class="btn btn-primary" type="button">--</button>
    <p>Count: {{count}}</p>
    <button (click)="counter('add')" class="btn btn-primary" type="button">++</button>
  </div>
</section>



<section class="m-5">
  <div class="container ">
    <h2>This is Example for ngClass</h2>
    <div>

    </div>
  </div>
</section>
<section class="m-5">
  <div class="container">
    <h2>This is Example for {{propbinding}}</h2>
    <div>
      <input class="form-control m-2" type="text" name="user-name" id="user_name" placeholder="User Name"
        [value]="username">

      <input class="form-control m-2" type="text" name="user-name" id="user_name2" placeholder="User Name"
        value={{username}} disabled={{notwork}}>
      <input class="form-control m-2" type="text" name="user-name" id="user_name3" placeholder="User Name"
        [value]="username" [disabled]="notwork" [hidden]="hide">
      <input class="form-control m-2" type="text" name="user-name" id="user_name4" placeholder="User Name"
        [value]="username" [disabled]="notwork" hidden={{hide}}>
    </div>
  </div>
</section>


<section class="m-5">
  <div class="container ">
    <h2>This is Example for {{ifseld}}</h2>
    <div>
      <p class="text-center" *ngIf="'yes'; then ifblock else elseblock">


      </p>
      <hr>

      <ng-template #elseblock>
        <p>Show Else Condition</p>
      </ng-template>
      <ng-template #ifblock>
        <p>This is the Example of if Condition</p>
      </ng-template>

    </div>
  </div>
</section>
<section class="m-5">
  <div class="container ">
    <h2>This is Example for If Else If Condition</h2>
    <div>


      <div>

      </div>
      <ng-template [ngIf]="color==='Red'">
        <h1 class="text-danger">Color is Red</h1>
      </ng-template>
      <ng-template [ngIf]="color==='blue'">
        <h1 class="text-primary">Color is Blue Color</h1>
      </ng-template>
      <ng-template [ngIf]="color==='green'">
        <h1 class="text-success">Color is Green Color</h1>
      </ng-template>
    </div>
  </div>
</section>




<section class="m-5">
  <div class="container text-center ">
    <h2>{{switchtitle}}</h2>
    <div [ngSwitch]="dcolor">
      <h3 *ngSwitchCase="'white'" class="text-light bg-dark">White Color</h3>
      <h3 *ngSwitchCase="'black'" class="text-light bg-dark">Black Color</h3>
      <h3 *ngSwitchCase="'red'" class="text-light bg-dark">Red Color</h3>
      <h3 *ngSwitchCase="'green'" class="text-light bg-dark">Green Color</h3>
      <h3 *ngSwitchCase="'blue'" class="text-light bg-dark">Blue Color</h3>
      <h3 *ngSwitchCase="'violate'" class="text-light bg-dark">violate Color</h3>
      <h3 *ngSwitchCase="'yellow'" class="text-light bg-dark">Yellow Color</h3>
      <h3 *ngSwitchCase="'white'" class="text-light bg-dark">White Color</h3>
      <h3 *ngSwitchCase="'white'" class="text-light bg-dark">White Color</h3>
      <h3 *ngSwitchCase="'white'" class="text-light bg-dark">White Color</h3>
      <h3 *ngSwitchCase="'white'" class="text-light bg-dark">White Color</h3>
      <h3 *ngSwitchCase class="text-light bg-danger">No Color Has match Please Check Your Color Code or Color Name</h3>


    </div>
  </div>
</section>





<section class="m-5">
  <div class="container text-center ">
    <h2>This is Example for Angular Loop</h2>
    <div>
      <h3 *ngFor="let item of usr"> Name is: {{item}}





      </h3>
      <div>
        <h4 *ngFor="let items of usrd"> {{items.id}} --- {{items.first_name}} --- {{items.last_name}} ---
          {{items.email}} --- {{items.ip_address}} </h4>
      </div>
    </div>
  </div>
</section>

<section class="m-5">
  <div class="container text-center ">
    <h2>This is Example for {{nastedtitle}}</h2>
    <div>
      <h3 *ngFor="let item of usr"> Name is: {{item}}
        <h4 *ngFor="let items of nasted"> {{items.id}} --- {{items.city}} --- {{items.lat}} --- {{items.long}} ---
          {{items.phone}} </h4>
      </h3>
      <div>

      </div>
    </div>
  </div>
</section>


<div class="container">
  <form class="form-signin">
    <div class="text-center mb-4">
      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
      <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
    </div>

    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
  </form>
</div>



<section class="m-5">
  <div class="container text-center ">
    <h2 [style.color]="colorg" [style.backgroundColor]="bgcolor">This is {{stylebunind}} </h2>
    <div class="m-2">
      <h3 [style.color]="colora" [style.backgroundColor]="bdcolor">
        This is A Color Property Buinding

      </h3>
      <button (click)="updatecolor()" class="btn btn-success" type="button">Update Colors</button>

    </div>
  </div>
</section>


<app-footers></app-footers>














</div>





















<router-outlet></router-outlet>
